body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 95%;
    margin: 0;
    padding: 0;
    border: 0;
}

a:link, a:focus {
    color: rgb(90, 90, 90);
}
a:visited, a:hover {
    color: rgb(60, 60, 60);
}
a:active {
    color: rgb(128, 128, 128);
}

#logo {
    border-bottom: 1px solid black;
    background-color: rgb(240, 248, 240);
}

#menu {
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    text-align: right;
    width: 9.2em;
    float: left;
    background-color: rgb(230, 230, 230);
    padding-bottom: 0.5em;
}
#menu ul {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
#menu li {
    padding: 0 .2em;
    list-style: none;
}
#menu li a {
    text-decoration: none;
    display: block;
    margin: .2em 0;
    padding: .2em .4em;
}
#menu li a:hover {
    background-color: white;
}

#menu .section {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-weight: bold;
    padding: .5em;
    background-color: white;
}

#body {
    padding: 1.4em;
    float: left;
    width: 50em;
}

p {
    line-height: 1.3em;
    margin-bottom: 1.4em;
}

@media screen and (max-width: 60em) {

    #body,
    #menu {
        float: none;
        width: auto;
        font-size: 110%;
    }

    #logo {
        float: left;
        height: 33em;
        border-right: 2px solid black;
        border-top: 1px solid black;
        padding: 1px;
    }
}
